<!-- <div class="container ">
  <div class="row float-start">
    <div class="col-md-10">
      <select class="form-select"  >
        <option selected value="all" >Select Brand</option>
        <option [value]="brand" *ngFor="let brand of brands">{{brand.brandName}}</option>
      </select>
    </div>
      <div class="col-md-2">
        <button>Filtrele</button>
      </div>
  </div>
  </div> -->

<div >
  <label for="filterText" class="form-label">Search Brand </label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search Brand">
</div>
<div class="d-flex justify-content-center">
  <ul class="list-group my-2" >
    <li (click)="clearCurrentBrand()" routerLink="/cars" [class]="getAllBrandClass()">
      All Brands
    </li>
    <li
      (click)="setCurrentBrand(brand)"
      *ngFor="let brand of brands | brandFilterPipe:filterText"
      [class]="getCurrentBrandClass(brand)"
      routerLink="/cars/brand/{{brand.brandId}}"
    >
      {{ brand.brandName }}
    </li>
  </ul>
</div>
